//private variables
$font-yeseva-one: 'Yeseva One', cursive;
$font-lato: 'Lato', sans-serif;
$font-gentium-book-basic: 'Gentium Book Basic', serif;
$font-open-sans: 'Open Sans', sans-serif;

$gold-color: #cc9900;
$dark-color: #191919;
$white-color: #fff;


//public variables
$base-font-size: 16px;

$font-primary: $font-lato; // 400
$font-headings: $font-yeseva-one;
$font-brand: $font-yeseva-one;
$font-navbar: $font-gentium-book-basic; // 700
$font-forms: $font-open-sans; // 400
$font-btn: $font-lato;
$font-btn-sm: $font-open-sans;

$hero-heading-font-size: 5.625rem;
$h1-font-size: 2.9rem;
$h2-font-size: 2.25rem; //36px
$h3-font-size: 1.8rem;
$h4-font-size: 1.31rem; //21px
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;

$nav-link-font-size: $h4-font-size;

$white: $white-color;

$primary-color: $gold-color;
$primary-text-color: $white;
$secondary-color: $dark-color;
$secondary-text-color: $white;
