.icon {
	height: rem(20px);
	transition: 110ms all ease-in-out;
	width: rem(20px);
	
	&--sm {
		height: rem(23px);
		width: rem(23px);
	}

	&--primary {
		fill: $primary-color;

		&:hover {
			fill: $white;
		}
	}
}