.icon {
	height: rem(20px);
	transition: 110ms all ease-in-out;
	width: rem(20px);
	
	&--xs {
		height: rem(17px);
		width: rem(17px);
	}

	&--sm {
		height: rem(23px);
		width: rem(23px);
	}

	&--primary {
		fill: $primary-color;

		&:hover {
			fill: $white;
		}
	}

	&--light {
		fill: $white-color;

		&:hover {
			fill: $primary-color;
		}
	}
}